<div class="container ">

    <div class="row mt-5">
      <div class="col col-6 offset-3">
        <div class="card">
  
          <div class="card-header text-center text-info text-uppercase">
            Sign In Please
          </div>
  
          <div class="card-body ">
            <form [formGroup] = "signinForm" (ngSubmit)="onSubmit()">
              <div class="form-group row">
  
                <label for="email" class="col-sm-3 col-form-label">Email</label>
  
                <div class="col-sm-9">
                  <input 
                    formControlName="email"
                    [class.is-invalid] = "(emailValidate.invalid && emailValidate.touched)"
                    type="email" class="form-control" id="email" name="email" 
                    placeholder="Enter Email" 
                    required />
                    <small *ngIf="emailValidate.errors?.pattern" class="text-danger">Please provide a valid email address.
                    </small>
                </div>
  
              </div>
  
              <div class="form-group row">
  
                <label for="password" class="col-sm-3 col-form-label">Password</label>
  
                <div class="col-sm-9">
                  <input type="password" 
                    formControlName="password"
                    [class.is-invalid] = "(passwordValidate.invalid && passwordValidate.touched)"
                    class="form-control" id="password" name="password" 
                    placeholder="Enter password" 
                    ngModel required />
                    <small *ngIf="passwordValidate.errors?.minlength" class="text-danger">Minimum length of the password should be 6 or
                        more.</small>
                </div>
  
              </div>
  
              <div class=" text-center">
                <button class="btn btn-primary" [disabled]="!signinForm.valid" type="submit">
                  Sign In
                </button>
              </div>
  
            </form>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  