/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~ngx-toastr/toastr";

body{
    position: relative;
    min-width: 100%;
    min-height: 100vhng g c layout/footer;
}

select:invalid { 
    color: gray; 
}

.btn-cancel{
    margin-left: 2%;
}